WCFSandbox/WCFConsoleApp/Service References/ServiceReference1/SlipMapService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StarSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="GMNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemID" type="xs:int" />
      <xs:element minOccurs="0" name="SystemLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StarSystem" nillable="true" type="tns:StarSystem" />
</xs:schema>